[user]
name = "Drew Olson"
email = "drew@drewolson.org"

[templates]
draft_commit_description = '''
concat(
  coalesce(description, default_commit_description, "\n"),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

[ui]
default-command = "log"

[aliases]
ff = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
ll = ["log", "-n", "10", "-r", "all()"]
sync = ["util", "exec", "--", "bash", "-c", """
set -euo pipefail
jj git fetch
jj rebase -d main -b @
""", ""]
push = ["util", "exec", "--", "bash", "-c", """
set -euo pipefail
jj ff
jj git push
""", ""]
fetch-pr = ["util", "exec", "--", "bash", "-c", """
set -euo pipefail
git fetch $1 pull/$2/head:pr/$2
""", ""]

[revsets]
log = "(tracked_remote_bookmarks() | present(main@upstream)):: & ::(bookmarks() | mine() | @)"
