[submodule "vim"]
	path = vim
	url = git://github.com/drewolson/vim_dotfiles.git
[submodule "ruby_focused_unit_test_vim"]
	path = ruby_focused_unit_test_vim
	url = git://github.com/drewolson/ruby_focused_unit_test_vim.git
